<!-- assegna_utenze.html -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assegna Utenze</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
        </nav>
    </header>
    <main>
        <h2>Assegna Utenze</h2>
        <div>
            <p>Utenza 1</p>
            <select>
                <option>PLC_01</option>
                <option>IO_Remoto_01</option>
            </select>
            <button>Assegna</button>
        </div>
    </main>
</body>
</html>