<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titolo_pagina %}Progetto{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include '_header.html' %}
    {% include '_sidebar.html' %}
    
    <main class="main-content">
       {% block contenuto %}{% endblock %}
    </main>
    
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
